.navbar--no-padding-until-large {
  padding: 0rem 1rem;
}

@media (min-width: 992px) {
  .navbar--no-padding-until-large {
    padding: 1rem 1rem;
  }
}

.bgImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  -webkit-background-clip: text;
  background-clip: text;
}

.bgImage--imgFront {
  background-image: url(/assets/images/building.jpg);
}

.bgImage--txtFront {
  color: transparent;
  font-size: 10rem;
  text-align: center;
  font-weight: 600;
}

@media (min-width: 372px) {
  .bgImage--txtFront {
    font-size: 12rem;
  }
}

@media (min-width: 576px) {
  .bgImage--txtFront {
    font-size: 20rem;
  }
}

@media (min-width: 768px) {
  .bgImage--txtFront {
    font-size: 25rem;
  }
}

@media (min-width: 992px) {
  .bgImage--txtFront {
    font-size: 30rem;
  }
}

@media (min-width: 1200px) {
  .bgImage--txtFront {
    font-size: 35rem;
  }
}

.head {
  background-color: #2196F3;
}

.head__title {
  color: white;
  font-size: 10rem;
  text-align: center;
  font-weight: 400;
  line-height: 14rem;
  padding: 0;
}

@media (min-width: 372px) {
  .head__title {
    font-size: 12rem;
    line-height: 14rem;
  }
}

@media (min-width: 768px) {
  .head__title {
    font-size: 20rem;
    line-height: 23rem;
  }
}

@media (min-width: 1200px) {
  .head__title {
    font-size: 25rem;
    line-height: 28rem;
  }
}

.head__subTitle {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: 200;
  padding-bottom: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .head__subTitle {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 1.5rem;
  }
}

.gridFront {
  --mainbackround: rgba(33, 149, 243, 0.657);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(362px, 2fr));
  grid-auto-rows: auto;
  grid-gap: 16px;
}

.gridFront__engels {
  background-color: var(--mainbackround);
  border-radius: 1.3rem;
  padding: 2rem;
}

.gridFront__nederlands {
  background-color: var(--mainbackround);
  border-radius: 1.3rem;
  padding: 2rem;
}

.gridFront__wiskunde {
  background-color: var(--mainbackround);
  border-radius: 1.3rem;
  padding: 2rem;
}

.gridFront__biologie {
  background-color: var(--mainbackround);
  border-radius: 1.3rem;
  padding: 2rem;
}

.gridFront__geschiedenis {
  background-color: var(--mainbackround);
  border-radius: 1.3rem;
  padding: 2rem;
}

.gridFront__aarderijkskunde {
  background-color: var(--mainbackround);
  border-radius: 1.3rem;
  padding: 2rem;
}

.gridFront__frans {
  background-color: var(--mainbackround);
  border-radius: 1.3rem;
  padding: 2rem;
}
