html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-padding-top: 4rem;
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 6rem;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar--no-padding-until-large {
  padding: 0rem 1rem;
}

@media (min-width: 992px) {
  .navbar--no-padding-until-large {
    padding: .5rem 1rem;
  }
}

.bgImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-clip: text;
}

.bgImage--imgFront {
  background-image: url(/assets/images/building.jpg);
}

.bgImage--txtFront {
  color: transparent;
  font-size: 10rem;
  text-align: center;
  font-weight: 600;
}

@media (min-width: 372px) {
  .bgImage--txtFront {
    font-size: 12rem;
  }
}

@media (min-width: 576px) {
  .bgImage--txtFront {
    font-size: 20rem;
  }
}

@media (min-width: 768px) {
  .bgImage--txtFront {
    font-size: 25rem;
  }
}

@media (min-width: 992px) {
  .bgImage--txtFront {
    font-size: 30rem;
  }
}

@media (min-width: 1200px) {
  .bgImage--txtFront {
    font-size: 35rem;
  }
}

.head {
  background-color: #2196F3;
}

.head__title {
  color: white;
  font-size: 6rem;
  text-align: center;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: 30px;
  margin: 0;
}

@media (min-width: 372px) {
  .head__title {
    font-size: 10rem;
    line-height: 10rem;
  }
}

@media (min-width: 768px) {
  .head__title {
    font-size: 12rem;
    line-height: 12rem;
  }
}

@media (min-width: 1200px) {
  .head__title {
    font-size: 15rem;
    line-height: 15rem;
  }
}

.head__subTitle {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
  padding-bottom: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .head__subTitle {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 1.5rem;
  }
}

.gridFront {
  --mainbackround: rgba(33, 149, 243, 0.657);
  --mainborder: rgb(23, 115, 190);
  --backgroundcontent: #2196F3;
  --textcolor: white;
  --textcolorhover: #bbb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  padding: 4rem 1rem;
  background-color: var(--mainbackround);
  min-height: 100vh;
}

@media (min-width: 768px) {
  .gridFront {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .gridFront {
    -ms-grid-columns: 2.4fr 1fr;
        grid-template-columns: 2.4fr 1fr;
    padding: 6rem 1rem;
  }
}

@media (min-width: 1200px) {
  .gridFront {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
}

.gridFront__left {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(280px, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
}

@media (min-width: 372px) {
  .gridFront__left {
    -ms-grid-columns: (minmax(342px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(342px, 2fr));
  }
}

@media (min-width: 992px) {
  .gridFront__left {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.gridFront__vak {
  position: relative;
  background-color: var(--backgroundcontent);
  border-radius: 1.3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.gridFront__link:hover {
  --textcolor: var(--textcolorhover);
  text-decoration: none;
}

@media (min-width: 1200px) {
  .gridFront__link {
    pointer-events: none;
  }
}

.gridFront__content {
  display: none;
  border: 0.2rem solid var(--mainborder);
  border-top-width: 0;
  border-radius: 0 0 1.3rem 1.3rem;
  padding: 2rem;
  grid-auto-rows: auto;
}

.gridFront__content--click {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: var(--backgroundcontent);
}

@media (min-width: 1200px) {
  .gridFront__content {
    display: block;
  }
}

.gridFront__engels {
  background-image: url("/assets/images/engels-lo-re.jpg");
  --textcolorshadow: #000000;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.3rem;
  padding: 1rem;
  color: var(--textcolor);
  text-shadow: 2px 2px 4px var(--textcolorshadow);
}

.gridFront__engels--click {
  border-radius: 1.3rem 1.3rem 0 0;
}

@media (min-width: 1200px) {
  .gridFront__engels {
    border-radius: 1.3rem 1.3rem 0 0;
    background-image: url("/assets/images/engels-hi-re.jpg");
  }
}

.gridFront__nederlands {
  background-image: url("/assets/images/nederlands-lo-re.jpg");
  --textcolorshadow: #000000;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.3rem;
  padding: 1rem;
  color: var(--textcolor);
  text-shadow: 2px 2px 4px var(--textcolorshadow);
}

.gridFront__nederlands--click {
  border-radius: 1.3rem 1.3rem 0 0;
}

@media (min-width: 1200px) {
  .gridFront__nederlands {
    border-radius: 1.3rem 1.3rem 0 0;
    background-image: url("/assets/images/nederlands-hi-re.jpg");
  }
}

.gridFront__wiskunde {
  background-image: url("/assets/images/wiskunde-lo-re.jpg");
  --textcolorshadow: #000000;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.3rem;
  padding: 1rem;
  color: var(--textcolor);
  text-shadow: 2px 2px 4px var(--textcolorshadow);
}

.gridFront__wiskunde--click {
  border-radius: 1.3rem 1.3rem 0 0;
}

@media (min-width: 1200px) {
  .gridFront__wiskunde {
    border-radius: 1.3rem 1.3rem 0 0;
    background-image: url("/assets/images/wiskunde-hi-re.jpg");
  }
}

.gridFront__natuurkunde {
  background-image: url("/assets/images/natuurkunde-lo-re.jpg");
  --textcolorshadow: #000000;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.3rem;
  padding: 1rem;
  color: var(--textcolor);
  text-shadow: 2px 2px 4px var(--textcolorshadow);
}

.gridFront__natuurkunde--click {
  border-radius: 1.3rem 1.3rem 0 0;
}

@media (min-width: 1200px) {
  .gridFront__natuurkunde {
    border-radius: 1.3rem 1.3rem 0 0;
    background-image: url("/assets/images/natuurkunde-hi-re.jpg");
  }
}

.gridFront__biologie {
  background-image: url("/assets/images/biologie-lo-re.jpg");
  --textcolorshadow: #000000;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.3rem;
  padding: 1rem;
  color: var(--textcolor);
  text-shadow: 2px 2px 4px var(--textcolorshadow);
}

.gridFront__biologie--click {
  border-radius: 1.3rem 1.3rem 0 0;
}

@media (min-width: 1200px) {
  .gridFront__biologie {
    border-radius: 1.3rem 1.3rem 0 0;
    background-image: url("/assets/images/biologie-hi-re.jpg");
  }
}

.gridFront__geschiedenis {
  background-image: url("/assets/images/geschiedenis-lo-re.jpg");
  --textcolorshadow: #000000;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.3rem;
  padding: 1rem;
  color: var(--textcolor);
  text-shadow: 2px 2px 4px var(--textcolorshadow);
}

.gridFront__geschiedenis--click {
  border-radius: 1.3rem 1.3rem 0 0;
}

@media (min-width: 1200px) {
  .gridFront__geschiedenis {
    border-radius: 1.3rem 1.3rem 0 0;
    background-image: url("/assets/images/geschiedenis-hi-re.jpg");
  }
}

.gridFront__aarderijkskunde {
  background-image: url("/assets/images/aarderijkskunde-lo-re.jpg");
  --textcolorshadow: #000000;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.3rem;
  padding: 1rem;
  color: var(--textcolor);
  text-shadow: 2px 2px 4px var(--textcolorshadow);
}

.gridFront__aarderijkskunde--click {
  border-radius: 1.3rem 1.3rem 0 0;
}

@media (min-width: 1200px) {
  .gridFront__aarderijkskunde {
    border-radius: 1.3rem 1.3rem 0 0;
    background-image: url("/assets/images/aarderijkskunde-hi-re.jpg");
  }
}

.gridFront__bv {
  background-image: url("/assets/images/bv-lo-re.jpg");
  --textcolorshadow: #000000;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.3rem;
  padding: 1rem;
  color: var(--textcolor);
  text-shadow: 2px 2px 4px var(--textcolorshadow);
}

.gridFront__bv--click {
  border-radius: 1.3rem 1.3rem 0 0;
}

@media (min-width: 1200px) {
  .gridFront__bv {
    border-radius: 1.3rem 1.3rem 0 0;
    background-image: url("/assets/images/bv-hi-re.jpg");
  }
}

.gridFront__right {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: 20vh;
}

@media (min-width: 992px) {
  .gridFront__right {
    top: 6rem;
  }
}

.gridFront__link {
  display: block;
  color: white;
  font-size: 2rem;
}

.gridFront__link > i {
  color: #777;
  width: 2.2rem;
}
/*# sourceMappingURL=style.css.map */