.gridFront {
    --mainbackround: rgba(33, 149, 243, 0.657);
    --backgroundcontent: #2196F3;
    --textcolor: white;
    --textcolorhover: #bbb;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    padding: 4rem 1rem;
    background-color: var(--mainbackround);

    @include atMedium {
        grid-template-columns: 1fr 1fr;
    }

    @include atLarge {
        grid-template-columns: 2.4fr 1fr;
        padding: 6rem 1rem;
    }

    @include atXlarge {
        grid-template-columns: 3fr 1fr;
    }

    &__left {
        display: grid;
        grid-auto-rows: auto;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));

        @include atXSmall {
            grid-template-columns: repeat(auto-fit, minmax(342px, 2fr));
        }

        @include atLarge {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
        }

        // @include atXlarge {
        //     grid-template-columns: repeat(3, 1fr);
        //     padding: 2rem 2.5rem;
        // }
    }

    &__vak {
        background-color: var(--backgroundcontent);
        border-radius: 1.3rem;
    }

    &__link {
        @include hover;
    }

    &__content {
        display: none;
        border-radius: 0 0 1.3rem 1.3rem;
        padding: 2rem;
        grid-auto-rows: auto;

        @include atXlarge {
            display: block;

        }
    }

    &__engels {
        background-image: url("/assets/images/england-lo-re.jpg");
        @include vakken;

        @include atXlarge {
            border-radius: 1.3rem 1.3rem 0 0;
            background-image: url("/assets/images/england-hi-re.jpg");
        }

    }

    &__nederlands {
        background-image: url("/assets/images/dutch-lo-re.jpg");
        @include vakken;

        @include atXlarge {
            border-radius: 1.3rem 1.3rem 0 0;
            background-image: url("/assets/images/dutch-hi-re.jpg");
        }
    }

    &__wiskunde {
        background-image: url("/assets/images/math-lo-re.jpg");
        @include vakken;

        @include atXlarge {
            border-radius: 1.3rem 1.3rem 0 0;
            background-image: url("/assets/images/math-hi-re.jpg");
        }
    }

    &__natuurkunde {
        background-image: url("/assets/images/natuurkunde-lo-re.jpg");
        @include vakken;

        @include atXlarge {
            border-radius: 1.3rem 1.3rem 0 0;
            background-image: url("/assets/images/natuurkunde-hi-re.jpg");
        }
    }

    &__biologie {
        background-image: url("/assets/images/biology-lo-re.jpg");
        @include vakken;

        @include atXlarge {
            border-radius: 1.3rem 1.3rem 0 0;
            background-image: url("/assets/images/biology-hi-re.jpg");
        }
    }

    &__geschiedenis {
        background-image: url("/assets/images/history-lo-re.jpg");
        @include vakken;

        @include atXlarge {
            border-radius: 1.3rem 1.3rem 0 0;
            background-image: url("/assets/images/history-hi-re.jpg");
        }
    }

    &__aarderijkskunde {
        background-image: url("/assets/images/geography-lo-re.jpg");
        @include vakken;

        @include atXlarge {
            border-radius: 1.3rem 1.3rem 0 0;
            background-image: url("/assets/images/geography-hi-re.jpg");
        }
    }

    &__frans {
        background-image: url("/assets/images/france-lo-re.jpg");
        @include vakken;

        @include atXlarge {
            border-radius: 1.3rem 1.3rem 0 0;
            background-image: url("/assets/images/france-hi-re.jpg");
        }
    }

    &__right {
        display: block;
        position: sticky;
        top: 4rem;
        height: 20vh;

        @include atLarge {
            top: 6rem;
        }
    }

    &__link {
        display: block;
        color: white;
        font-size: 2rem;

        &>i {
            color: #9e9e9e; // TODO kleur iconen nog aanpassen naar een goede kleur
            width: 2.2rem;
        }
    }
}