.gridFront {
    --mainbackround: rgba(33, 149, 243, 0.657);
    --mainborder: rgb(23, 115, 190);
    --backgroundcontent: #2196F3;
    --textcolor: white;
    --textcolorhover: #bbb;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    padding: 4rem 1rem;
    background-color: var(--mainbackround);
    min-height: 100vh;

    @include atMedium {
        grid-template-columns: 1fr 1fr;
    }

    @include atLarge {
        grid-template-columns: 2.4fr 1fr;
        padding: 6rem 1rem;
    }

    @include atXlarge {
        grid-template-columns: 3fr 1fr;
    }

    &__left {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));

        @include atXSmall {
            grid-template-columns: repeat(auto-fit, minmax(342px, 2fr));
        }

        @include atLarge {
            grid-template-columns: repeat(2, 1fr);
        }

        // @include atXlarge {
        //     grid-template-columns: repeat(3, 1fr);
        //     padding: 2rem 2.5rem;
        // }
    }

    &__vak {
        position: relative;
        background-color: var(--backgroundcontent);
        border-radius: 1.3rem;
        height: fit-content; //TODO Zorgend dat grid vakken naast elkaar qua achtergrond kleur even groot is, onafhankelijk van inhoud
    }

    &__link {
        @include hover;

        @include atXlarge {
            pointer-events: none;
        }
    }

    &__content {
        display: none;
        border: 0.2rem solid var(--mainborder);
        border-top-width: 0;
        border-radius: 0 0 1.3rem 1.3rem;
        padding: 2rem;
        grid-auto-rows: auto;

        &--click {
            display: block;
            position: absolute;
            width: 100%;
            z-index: 1;
            background-color: var(--backgroundcontent);
        }

        @include atXlarge {
            display: block;

        }
    }

    $vakken: "engels",
    "nederlands",
    "wiskunde",
    "natuurkunde",
    "biologie",
    "geschiedenis",
    "aarderijkskunde",
    "bv";

    @each $vak in $vakken {
        &__#{$vak} {
            background-image: url("/assets/images/"+ $vak + "-lo-re.jpg");
            @include vakken;

            &--click {
                border-radius: 1.3rem 1.3rem 0 0;
            }

            @include atXlarge {
                border-radius: 1.3rem 1.3rem 0 0;
                background-image: url("/assets/images/"+ $vak + "-hi-re.jpg");
            }

        }

    }

    &__right {
        display: block;
        position: sticky;
        top: 4rem;
        height: 20vh;

        @include atLarge {
            top: 6rem;
        }
    }

    &__link {
        display: block;
        color: white;
        font-size: 2rem;

        &>i {
            color: #777; // DONE kleur iconen nog aanpassen naar een goede kleur
            width: 2.2rem;
        }
    }
}