.head {
    background-color: #2196F3;
    &__title {
        color: white;
        font-size: 10rem;
        text-align: center;
        font-weight: 400;
        line-height: 14rem;
        padding: 0;
        @include atXSmall {
            font-size: 12rem;
            line-height: 14rem;
        }
        @include atMedium {
            font-size: 20rem;
            line-height: 23rem;
        }
        @include atXlarge {
            font-size: 25rem;
            line-height: 28rem;
        }
    }
    &__subTitle {
        color: white;
        font-size: 2rem;
        text-align: center;
        font-weight: 200;
        padding-bottom: 1.5rem;
        line-height: 2rem;
        @include atMedium {
            font-size: 3rem;
            line-height: 3rem;
            padding-bottom: 1.5rem;
        }
    }
}