html {
    box-sizing: border-box;
    scroll-padding-top: 4rem;

    @include atLarge {
        scroll-padding-top: 6rem;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;

    &--no-padding-until-large {
        padding: 0rem 1rem;

        @include atLarge {
            padding: .5rem 1rem;
        }
    }
}